@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

input,
select,
button {
  appearance: none;
  background: 0;
  border: 0;
  font: inherit;
  color: inherit;
}

*:focus {
  outline: 2px solid #bdcce5;
}

.heading {
  padding: 16px 0;
  position: sticky;
  top: 0;
  background: white;
  display: flex;
  justify-content: space-between;
}

.content {
  max-width: 1040px;
  margin: auto;
  padding: 32px 8px;
}

.record {
  display: flex;
}

.input {
  background: #e8eaef;
  border-radius: 6px;
  padding: 8px 16px;
}

.records {
  margin-bottom: 32px;
}

.input,
.button {
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 14px;
}

.button {
  box-shadow: inset 0 0 0 1px #e3e3e3;
}

.button + * {
  margin-left: 16px;
}

.clickable {
  user-select: none;
}

.button,
.clickable:not([disabled]) {
  cursor: pointer;
  background-color: white;
  transition: background-color ease.2s;
}

.button:hover,
.clickable:not([disabled]):hover {
  background-color: rgb(227 227 227 / 60%);
}

.record--header {
  font-size: 14px;
  color: #8993a4;
  padding: 8px 0;
  font-weight: normal;
  font-weight: 500;
  position: sticky;
  top: 55px;
  background: white;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 16px;
}

.record__cell,
.record__header-cell {
  display: inline-block;
  flex: 1;
  min-width: 50px;
  text-align: center;
  padding: 4px 0;
}

.record__cell:first-child,
.record__header-cell:first-child {
  min-width: 150px;
  text-align: left;
}

.record__cell:first-child {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.pagination__page {
  width: 50px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  margin: 0 8px;
}

.pagination__button {
  box-shadow: none;
  border-radius: 6px;
  padding: 8px 16px;
}

.pagination__button[disabled] {
  opacity: 0.2;
}
